{
    "extends": [
        "stylelint-config-recommended-scss"
    ],
    "rules": {
        "selector-max-specificity": "0,2,0",
        "selector-class-pattern": "^[a-z][a-zA-Z0-9_-]*$",
        "max-nesting-depth": 3,
        "declaration-block-no-duplicate-properties": true,
        "no-duplicate-selectors": true,
        "property-no-unknown": true,
        "selector-max-id": 0,
        "color-no-invalid-hex": true
    },
    "ignoreFiles": [
        "node_modules/**/*",
        "dist/**/*"
    ]
}