@use "../variables";
@use "../../mixins/mixins" as m;
@use '../main';
@use '../common';


@layer reset, components;

@layer reset {
    * {
        box-sizing: border-box;
    }

    html {
        container-type: inline-size;
        background-color: variables.$uoc-bg;
    }
}

@layer components {

    h1 {
        text-align: center;
        background: linear-gradient(to bottom in oklch, lch(100% 0.01 296.81), lch(91.01% 18.58 211.28));
        margin-bottom: 0 !important;
    }

    form {
        background: linear-gradient(to top in oklch, variables.$uoc-bg, lch(91.01% 18.58 211.28));
    }

    .form-elem {
        @include m.center-object;
        flex-direction: column;
    }

    .event-label {
        @include m.margin-top-bottom(0, 1em);
    }

    .btn {
        width: fit-content;
    }

    .mb-3 {
        margin: auto;
    }

    @container (min-width: 360px) {

        h1 {
            @include m.padding-top-bottom(1em, 1em);
        }

        form {
            width: 100cqw;
            height: 100cqh;
            margin: auto;
            @include m.margin-top-bottom(0px, 2em);
        }

        .mb-3 {
            width: 75cqw;
        }
    }

    @container (min-width: 480px) {

        h1 {
            @include m.padding-top-bottom(2em, 2em);
        }

        .mb-3 {
            width: 50cqw;
        }
    }

    @container (min-width: 768px) {
        form {
            @include m.center-object;
            gap: 5em;
            @include m.margin-top-bottom(0px, 4em);
            width: 100cqw;
            height: 100cqh;
        }

        .mb-3 {
            width: 20cqw;
            margin: auto;
        }
    }
}