@use "../variables";
@use '../main';
@use '../common';
@use '../../mixins/mixins' as m;

@layer reset, components;

@layer reset {
  * {
    box-sizing: border-box;
  }

  html {
    container-type: inline-size;
  }
}


@layer components {

  h3 {
    text-align: center;
  }

  .logo {
    @include m.width-height(100%, 100%);
  }

  .home-grid {
    //fallback si no hay grid
    display: flex;
    flex-wrap: wrap;
    background-color: variables.$lightgrey;
  }

  .cell img {
    @include m.width-height(100%, 100%);
    object-fit: cover;
  }

  .cell--darken:hover {
    background-color: m.dark-background(#a9a9a9, -5%);
  }

  .cell--darkblue {
    background-color: variables.$uoc-corporate;
  }

  .cell--white {
    background-color: variables.$white;
  }

  @supports (display: grid) {

    .home-grid {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
    }

    @container (min-width: 360px) {

      .cell--hide {
        visibility: hidden;
      }
    }

    @container (min-width: 480px) {

      .home-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
      }

      .cell--hide {
        visibility: visible;
      }
    }

    @container (min-width: 768px) {

      .home-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    }
  }
}