@use "../variables";
@use "../../mixins/mixins" as m;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: variables.$uoc-bg;
  color: variables.$uoc-corporate;
}

ul {
  list-style: none;
}

.logo {
  width: 100%;
  height: 100%;
}

.home-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: variables.$lightgrey;
}

@supports (display: grid) {

  .home-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
  }

  .cell {
    @include m.center-object;
  }

  .icon {
    display: inline-block;
    font-size: 3em;
  }

  .cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cell--darkblue {
    background-color: variables.$uoc-corporate;
  }

  .cell--white {
    background-color: variables.$white;
  }
}