@use "../variables";
@use '../main';
@use '../common';

:root {
  --gl-star-empty: url('/src/assets/images/stars/star-empty.svg');  /* Points to your bundled asset */
  --gl-star-full: url('/src/assets/images/stars/star-full.svg');
}

@layer reset, components;

@layer reset {
  * {
    box-sizing: border-box;
  }

  html {
    container-type: inline-size;
  }
}


@layer components {

  h3 {
    text-align: center;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .home-grid {
    //fallback si no hay grid
    display: flex;
    flex-wrap: wrap;
    background-color: variables.$lightgrey;
  }

  .cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cell--darkblue {
    background-color: variables.$uoc-corporate;
  }

  .cell--white {
    background-color: variables.$white;
  }

  @supports (display: grid) {

    .home-grid {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
    }

    @container (min-width: 360px) {

      .cell--hide {
        visibility: hidden;
      }
    }

    @container (min-width: 480px) {

      .home-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
      }

      .cell--hide {
        visibility: visible;
      }
    }

    @container (min-width: 768px) {

      .home-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    }
  }
}