@use "../variables";
@use "../../mixins/mixins" as m;

@layer reset, components;

@layer reset {
  * {
    box-sizing: border-box;
  }

  html {
    container-type: inline-size;
  }
}

body {
  background-color: variables.$uoc-bg;
  color: variables.$uoc-corporate;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: variables.$font-family-sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

a:link,
a:visited {
  color: variables.$uoc-corporate;
  text-decoration: none;
}

a:hover {
  color: variables.$uoc-masterbrand;
}

@layer components {

  ul {
    list-style: none;
  }

  footer {
    @include m.center-object;
    background-color: variables.$lightgrey;
    @include m.padding-top-bottom(2em, 2em);
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .home-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: variables.$lightgrey;
  }

  @supports (display: grid) {

    @container (min-width: 360px) {
      footer {
        flex-direction: column;
      }
    }

    @container (min-width: 480px) {
      footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
      }
    }

    @container (min-width: 768px) {
      footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .home-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
    }

    .cell {
      @include m.center-object;
    }

    .cell--logo {
      flex-direction: column;
    }

    .icon {
      display: inline-block;
      font-size: 3em;
    }

    .cell img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cell--darkblue {
      background-color: variables.$uoc-corporate;
    }

    .cell--white {
      background-color: variables.$white;
    }
  }
}