@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: variables.$uoc-bg;
  color: variables.$uoc-corporate;
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$uoc-corporate;

  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

ul {
  list-style: none;
}

@supports (display: grid) {

  div {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 2em);
    background-color: coral;
    grid-auto-flow: row;
  }

  li {
    display: flex;
  }

  .cell--darkblue {
    background-color: variables.$uoc-corporate;
  }

  .cell--white {
    background-color: variables.$white;
  }

  li:nth-child(4) {
    grid-column: span 3;
  }

  li:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
  }

  li:nth-child(13) {
    grid-row: span 2;
  }

  li:nth-child(15) {
    grid-column: span 2;
  }

  li:nth-child(16) {
    grid-column: span 2;
  }
}