@use "../variables";
@use "../../mixins/mixins" as m;
@use '../main';
@use '../common';

@layer reset, components;

@layer reset {
    * {
        box-sizing: border-box;
    }

    html {
        container-type: inline-size;
        background-color: variables.$uoc-bg;
    }
}

@layer components {

    h1 {
        text-align: center;
    }

    .participantes {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        @include m.margin-left-right(15%, 15%);
    }

    img {
        @include m.width-height(100%, auto);
        border-radius: 10%;
    }

    figcaption {
        @include m.center-object;
        flex-direction: column;
        @include m.margin-top-bottom(2em, 0);
    }

    @container (min-width: 360px) {

        h1 {
            @include m.padding-top-bottom(1em, 1em);
        }
    }

    @container (min-width: 480px) {

        figure {
            flex: 1 1 40%;
        }

        p {
            text-align: center;
        }

        h1 {
            @include m.padding-top-bottom(2em, 2em);
        }
    }

    @container (min-width: 768px) {

        figcaption {
            @include m.padding-left-right(2em, 2em);
        }

        figure {
            flex: 1 1 30%;
        }
    }
}