@use '../../assets/styles/variables' as vars;
@use 'sass:map' as map;

@mixin center-object() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin margin-left-right($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin margin-top-bottom($top, $bot) {
    margin-top: $top;
    margin-bottom: $bot;
}

@mixin padding-top-bottom($top, $bot) {
    padding-top: $top;
    padding-bottom: $bot;
}

@mixin padding-left-right($left, $right) {
    padding-left: $left;
    padding-right: $right;
}