<header>
    <div class="header-container">
        <div class="cell cell--logo">
            <i class="fa-solid fa-utensils icon"></i>
            <h2>CookXperiences</h2>
        </div>
        <nav>
            <ul class="navigation-header">
                <li><a href="./participantes.html">Participantes</a></li>
                <li><a href="./jornadas.html">Jornadas</a></li>
                <li><a href="./contacto.html">Contáctanos</a></li>
            </ul>
        </nav>
    </div>
    <hr class="header-hr">
</header>