@use "./variables";
@use '../mixins/mixins' as m;

body {
    background-color: variables.$uoc-bg;
    color: variables.$uoc-corporate;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: variables.$font-family-sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

a:link,
a:visited {
    color: variables.$uoc-corporate;
    text-decoration: none;
}

a:hover {
    color: variables.$uoc-masterbrand;
}

.nav-link:hover {
    color: variables.$uoc-masterbrand;
}

//header and footer

nav ul {
    padding: 0 !important;
    list-style-type: none;
}

footer {
    @include m.center-object;
    @include m.padding-top-bottom(2em, 2em);
}

header {
    @include m.padding-top-bottom(2em, 2em);
    background-color: variables.$white;
}

.cell {
    @include m.center-object;
}

.cell--logo {
    flex-direction: column;
    padding: 1em;
}

.icon {
    display: inline-block;
    font-size: 3em;
}

.socials {
    display: inline-block;
    font-size: 1.5em;
}

hr {
    border: 2px solid variables.$uoc-corporate;
    height: 5px;
    background-color: variables.$uoc-corporate;
}

@container (min-width: 360px) {
    footer {
        flex-direction: column;
        background-color: variables.$white;
        @include m.center-object;
    }

    header {

        .header-container {
            @include m.center-object;
            flex-direction: column;
            background-color: variables.$white;
        }

    }

    .footer-info {
        @include m.center-object;
        flex-direction: column;
    }

    hr {
        width: 75%;
    }

    .header-hr {
        width: 80%;
        margin-inline-start: 10%;
    }

    .socials-footer {
        @include m.center-object;
        flex-direction: row;
        margin-top: 2em;
    }

    .footer-navbar {
        @include m.center-object;
        flex-direction: column;
    }

    li {
        text-align: center;
    }
}



@container (min-width: 480px) {

    hr {
        width: 100%;
    }

    .header-hr {
        width: 80%;
        margin-inline-start: 10%;
    }

    footer {

        @include m.padding-left-right(20%, 20%);
        background-color: variables.$lightgrey;

        .footer-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2em;
        }
    }
}


@container (min-width: 768px) {

    hr {
        width: 200%;
    }

    .header-hr {
        width: 80%;
        margin-inline-start: 10%;
    }

    header {

        .header-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include m.padding-left-right(10%, 10%);
            align-items: center;
            flex-direction: row;
        }
    }

    footer {
        @include m.padding-left-right(30%, 30%);

        .footer-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2em;
        }

        .footer-wireframe {
            @include m.center-object;
            @include m.padding-left-right(30%, 60%);
            gap: 20%;
        }

        .socials-footer {
            display: inline-flex;
            gap: 1em;
            margin-top: 0;
        }
    }
}