/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 :root {
  --gl-star-empty: url('/node_modules/star-rating.js/img/star-empty.svg');
  --gl-star-full: url('/node_modules/star-rating.js/img/star-full.svg');
}

 /**
 * Import dependencies
 */
@use "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

/**
 * Do NOT include anything else in this file!
 */
